<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布考核任务</title>
    <link rel="stylesheet" th:href="@{/css/add.css}">
    <script th:src="@{/js/jquery-migrate-1.4.1.js}"></script>
    <script th:src="@{/js/add.js}"></script>
    <!--<script th:src="@{/jquery-migrate-1.4.1.js}"></script>
    <link rel="stylesheet" th:href="@{/css/add.css}">
    <script th:src="@{/js/add.css}"></script>-->
</head>
<body>
    <div id="all">
        <div class="menu">
            <span><a class="btn btn-sm btn-primary" th:href="@{/}">返回首页</a></span>
            <span><a class="btn btn-sm btn-primary" th:href="@{/ExamAdd}" >任务发布</a></span>
            <span><a class="btn btn-sm btn-primary" th:href="@{/ExamList}">任务查看</a></span>
            <span><a class="btn btn-sm btn-primary" th:href="@{/logout}">退出登录</a></span>
        </div>
        <div class="input-box">
            <form method="post" th:action="@{/ExamAdd}" id="teacherCreate" enctype="multipart/form-data" style="">
                <div class="uploadItem2" >
                    <span class="fl" ><h5>题目:</h5></span>
                    <input type="text" id="utTitle" name="examName" placeholder="考核题目">
                </div>

                <div class="uploadItem2" >
                    <span class="fl"><h5>要求:</h5></span>
                    <textarea name="content" class="rte1"  placeholder=" 考核要求"></textarea>
                </div>
                <div>
                    <span><h5>截止时间：</h5>
                    <input type="date" name="date" id="date" > <input type="time" name="time" id="time" ></span>
                </div>
                <div id="bottom">
                    <button type="submit" class="btn btn-primary" id="bottoms">确认布置</button>
                </div>
            </form>
        </div>
        <div class="icon"></div>
    </div>

</body>
</html>